@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind utilities;
@tailwind base;
@tailwind components;

:root {
    /* Luxury */
    --luxury-black: #000000;
    --luxury-dark-grey: #252626;
    --luxury-red: #991a00;
    --luxury-light-grey: #dcdcdc;
    --luxury-white: #ffffff;

    /* Elegance */
    --elegance-dark-brown: #734930;
    --elegance-brown: #bf8a6b;
    --elegance-light-brown: #d9c6ba;
    --elegance-off-white: #f2eeeb;
    /* --elegance-off-white: #f2f2f2; */
    --elegance-black: #0d0d0d;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Fundo da barra */
::-webkit-scrollbar-track {
    /* background: #0d0d0d; */
    background: rgba(0, 0, 0, 1);
}

/* Barra em si */
::-webkit-scrollbar-thumb {
    /* background: #8d8d8d; */
    background-color: #bf8a6b;
    border-radius: 10px;
    border: 3px solid transparent
        /* border: 3px solid #0d0d0d; */
}

/* Ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
    background-color: #bf8a6b;
}

* {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-family: "Oswald", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background: url(/public/background-home.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow-x: hidden;
}