@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind utilities;
@tailwind base;
@tailwind components;

:root {
    /* Elegance */
    --elegance-dark-brown: #734930;
    --elegance-brown: #bf8a6b;
    --elegance-light-brown: #d9c6ba;
    --elegance-off-white: #f2f2f2;
    --elegance-black: #0d0d0d;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Fundo da barra */
::-webkit-scrollbar-track {
    background: #bdbdbd;
    border-radius: 8px;
}

/* Barra em si */
::-webkit-scrollbar-thumb {
    background-color: var(--elegance-black);
    border-radius: 10px;
    border: 1px solid #bdbdbd
}

* {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-family: "Oswald", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background: url(/public/background-home.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow-x: hidden;
}